{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block body %}
<div>
    <h3>Search</h3>
    <div id="searchform" > 
        <form  action="{{ url_for('books') }}" method="post" class="form-inline justify-content-center" > 
            <div class="col-lg-5">
                <div class="input-group">
                  <input type="text" class="form-control" name ="search" placeholder="Enter book title or author or book isbn">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Search</button>
                  </span>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->  
         </form>
    </div>
    </div>    
{% endblock %}